<<<<<<< HEAD
@import "`antd/dist/antd.css";
@import url("https://fonts.googleapis.com/css?family=Raleway|Poiret+One");

.Background {
  background-image: url("Background.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: auto;
  height: 800px;
=======
@import '`antd/dist/antd.css';
@import url('https://fonts.googleapis.com/css?family=Raleway|Poiret+One');

.Background {
  background-image: url("Background.png");
  background-repeat:no-repeat;
  background-size:cover;
  width: auto;
  height: 700px;
>>>>>>> 552a2164bda40aa2e778f3770fd7a1e4041bc91b
}

.App-header {
  height: 225px;
  padding: 270px;
  color: darkslategrey;
  text-align: center;
}

.App-title {
  margin: 0.75px;
<<<<<<< HEAD
  font-size: 3em;
  text-align: center;
  font-family: "Poiret One", bold;
}

.App-blurb {
  margin: 0.75px;
  font-size: 1.5em;
  font-family: "Raleway", sans-serif;
=======
  font-size: 3.0em;
  text-align: center;
  font-family: 'Poiret One', bold;
}

.App-blurb {
  margin: 0.75px; 
  font-size: 1.5em;
  font-family: 'Raleway', sans-serif;
>>>>>>> 552a2164bda40aa2e778f3770fd7a1e4041bc91b
}

.Forms {
  font-size: 1.3em;
<<<<<<< HEAD
  font-family: "Raleway", sans-serif;
}

.Next {
  font-size: 2em;
=======
  font-family: 'Raleway', sans-serif;

}

.Next {
  font-size: 2.0em;   
>>>>>>> 552a2164bda40aa2e778f3770fd7a1e4041bc91b
}
